@model IEnumerable<PokemonCardCollector.Models.Collection>

@{
    ViewData["Title"] = "Index";
}

<h1 class="pokemon-font">Collections</h1>

<p>
    <a class="pokemon-font" asp-action="Create">Create A New Collection</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="bubble">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="bubble">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="bubble">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="bubble">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="bubble">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="bubble">
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a class="pokemon-font" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="pokemon-font" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="pokemon-font" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
