@model IEnumerable<PokemonCardCollector.Models.PokemonCard>

@{
    ViewData["Title"] = "Index";
}

<h1 class="pokemon-font">Your Pokemon Cards</h1>

<p>
    <a class="pokemon-font" asp-action="Create">Create a New Pokemon Card!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="bubble">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="bubble">
                @Html.DisplayNameFor(model => model.SetName)
            </th>
            <th class="bubble">
                @Html.DisplayNameFor(model => model.SetNumber)
            </th>
            <th class="bubble">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th class="bubble">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="bubble">
                @Html.DisplayNameFor(model => model.IsOwned)
            </th>
            <th class="bubble">
                @Html.DisplayNameFor(model => model.IsWanted)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="bubble">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="bubble">
                @Html.DisplayFor(modelItem => item.SetName)
            </td>
                <td class="bubble">
                @Html.DisplayFor(modelItem => item.SetNumber)
            </td>
                <td class="bubble">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
                <td class="bubble">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td class="bubble">
                @Html.DisplayFor(modelItem => item.IsOwned)
            </td>
                <td class="bubble">
                @Html.DisplayFor(modelItem => item.IsWanted)
            </td>
            <td>
                <a class="pokemon-font" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="pokemon-font"  asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="pokemon-font"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
